
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fibonacci Game</a>
  </div>
</nav>



<div class="container mt-3">
  <div class="row">
    <div class="col"></div>
    
    <div class="col">
      
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Play The Fibonacci Game</h5>
          <p class="card-text">Rules: Quickly enter as many non-fibonacci numbers as you can</p>
          

          <div class="row">

            <!-- I feel a better wording would be "Pause Timer" but i will leave it as "Halt" to obey the instructions.. -->
            <button type="button" class="col btn btn-outline-secondary" (click)="toggleTimer()"> ⏱ {{ isRunning ? 'Halt' : 'Start' }} Timer </button>
            
            <div class="col d-flex align-items-center card pt-2">
              <div class="spinner-border mb-2" role="status" *ngIf="isRunning">
                <span class="visually-hidden"></span>
              </div>
              <span> Time: <pre>{{ timeTaken() }}</pre> </span>
            </div>

          </div>

          <form class="mt-2">
            <input type="number" class="form-control" id="userNumberInput" placeholder="Enter number">
          </form>
            {{ counter }}
        </div>
      </div>

    </div>
    
    <div class="col"></div>
  </div>
</div>

